<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naxam.BraintreeApplePay.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreeCard.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.BrainTreeCore.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreeDropIn.iOS" version="6.1.0.1" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreePaymentFlow.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreePayPal.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreeUIKit.iOS" version="6.1.0" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreeUnionPay.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.BraintreeVenmo.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.PayPal.Risk.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.PayPalDataCollector.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.PayPalOneTouch.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Naxam.PayPalUtils.iOS" version="4.11.0" targetFramework="xamarinios10" />
  <package id="Refractored.XamForms.PullToRefresh" version="2.2.1" targetFramework="xamarinios10" />
  <package id="SegmentedControl.FormsPlugin" version="2.0.1" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.9" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.9" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.1.444934" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Maps" version="2.5.1.444934" targetFramework="xamarinios10" />
</packages>